<div class="form-group">
  <div class="col-sm-10">
    <form #f="ngForm" class="rating"(ngSubmit)="submit(f.value,f.valid)" novalidate autocomplete="off" style="display:inline">
      <div class="form-group">
        <input type="text" name="name" class="form-control" [(ngModel)]="userDetail.name" required #refName='ngModel' pattern="^[a-zA-Z]*$">
        <div *ngIf="refName.errors && (refName.dirty || refName.touched)" class="alert alert-danger">
          <div [hidden]="!refName.errors.required">
            Name is required.
          </div>
          <div [hidden]="!refName.errors.pattern">
            Please enter alphabets.
          </div>
        </div>
      </div>
      <div class="form-group"   >
          
          
        <input type="text" name="lastName"  placeholder="lastname" class="form-control"  [(ngModel)]="userDetail.lastName"   #refLastName='ngModel'>
            
        <div *ngIf="refLastName.errors && (refLastName.dirty || refLastName.touched)" class="alert alert-danger">
           
          <div [hidden]="!refLastName.errors.required">
            Last Name is required.
          </div>
        </div>
      </div>
      <div class="form-group" >
        <input type="text" name="age" class="form-control" [(ngModel)]="userDetail.age" required #refage='ngModel' pattern="^[0-9]*$">
        <div *ngIf="refage.errors && (refage.dirty || refage.touched)" class="alert alert-danger">
          <div [hidden]="!refage.errors.required">
            Age is required.
          </div>
          <div [hidden]="!refage.errors.pattern">
            Please enter number.
          </div>
        </div>
      </div>
      <div class="form-group">
        <select class="txt-box" name="gender" [(ngModel)]="userDetail.genderType" class="form-control" required #refGender='ngModel'>
          <option [value]="userDetail.genderType" [disabled]="true">Select Option </option>
            <option *ngFor="let gender of genderArray" [ngValue]="gender.value">
            {{gender.value}}
            </option>
        </select>
        <div [hidden]="refGender.valid || refGender.pristine" class="alert alert-danger">
          Gender is required
        </div>
      </div>
     <!-- <div class="form-group">
          <input  type="text" name="max" class="form-control" [(ngModel)]="_starArray.max" required #refmax='ngModel' pattern="^[0-9]*$">
    
        <div *ngIf="refmax.errors && (refmax.dirty || refmax.touched)" class="alert alert-danger">
          <div [hidden]="!refmax.errors.required">
            Age is required.
          </div>
          <div [hidden]="!refmax.errors.pattern">
            Please enter number.
          </div>
        </div>
      </div>-->
      <div class="form-group">
          <input  type="text" name="max" class="form-control" [(ngModel)]="userDetail.rating" required #refmax='ngModel' pattern="^[0-9]*$">
          
      
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    <hr/>
    <div *ngIf="arrayList.length > 0">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>LastName</th>
              <th>Age</th>
              <th>Gender</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of arrayList">
              <td>{{item.name}}</td>
              <td>{{item.lastName}}</td>
              <td>{{item.age}}</td>
              <td>{{item.gender}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-reactive-form> </app-reactive-form>